
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(212, 211, 209);
}

.product-card {
    width: 550px;
    height: 800px;
    border: 1px solid #f8f7f7;
    padding: 15px;
    margin: 0 auto;
}

.product-name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 27px;
    font-weight: bold;
}

.product-image {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border: 1px solid #aaa;
    margin-bottom: 10px;
}

.top-section {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.top-info {
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}



.product-description {
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 10px 0 20px 0;
    font-size: 14px;
    color: #333;
    background-color: #fafafa;
    border-radius: 6px;
}

.pricee {
    font-size: 24px;
    margin-left: 10px;
}

.buy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    align-self: flex-end;
    transform: translate(430px, -80px);
    transition: transform 0.2s ease-in-out;

}

.buy-button:hover {
    transform: translate(430px, -80px) scale(1.1);

}


.product-names {
    font-size: 28px;

}

.prices {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    top: -350px;
    right: -7px;

}

.prises {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 40px;
    right: 77px;
    font-size: 27px;
    padding: -9px;

}
